@tailwind base;
@tailwind components;
@tailwind utilities;

/* darkblue:  rgb(16, 16, 94)
   blue: rgb(76, 76, 175)
*/

/* https://css-tricks.com/look-ma-no-media-queries-responsive-layouts-using-css-grid/ */

@layer components {
  /* TYPEOGRAPHY */
  .primary-heading {
    @apply text-8xl font-mono font-bold p-8 text-emerald-900 sm:text-6xl sm:p-4;
  }
  .secondary-heading {
    @apply text-3xl font-mono xsm:text-xl sm:text-2xl md:text-2xl lg:text-2xl;
  }
  .secondary-heading:not(:last-of-type) {
    @apply border-r-2 border-emerald-900;
  }
  .card-text {
    @apply text-4xl text-white;
  }
  .card-text-dark {
    @apply text-4xl text-emerald-900;
  }
  .text {
    @apply text-2xl font-mono justify-self-center text-emerald-900 w-fit;
  }
  .text-dark {
    @apply text-emerald-900;
  }

  .starting-message-container {
    @apply pt-20;
  }

  /* BACKGROUND COLORS / GRADIENTS */
  .light-green-gradient {
    @apply bg-gradient-to-tr from-teal-200 to-teal-300;
  }
  .green-gradient {
    @apply bg-gradient-to-tr from-teal-300 to-teal-500;
  }
  .dark-green-gradient {
    @apply bg-gradient-to-tr from-teal-500 to-teal-700;
  }
  .very-dark-green-gradient {
    @apply bg-gradient-to-tr from-emerald-700 to-emerald-900;
  }

  /* FORMS */

  .form {
    @apply bg-teal-500 p-16 gap-y-10 rounded-xl shadow-2xl w-1/2 mt-10;
  }
  .form-exercises {
    @apply bg-teal-500 py-16 px-32 gap-y-6 rounded-xl shadow-2xl w-4/12 sm:px-16 sm:py-12;
  }

  .form-sessions {
    @apply bg-teal-500 p-16 gap-10 rounded-b-lg;
  }
  .session-form-field {
    @apply gap-10 sm:gap-5;
  }
  .form-label-session {
    @apply text-white text-6xl text-left sm:text-2xl md:text-2xl lg:text-3xl xl:text-4xl;
  }

  .form-field {
    @apply grid grid-rows-2 gap-5;
  }
  .form-label {
    @apply text-white text-6xl self-center sm:text-5xl md:text-5xl;
  }
  .form-input {
    @apply rounded-lg text-4xl text-black w-full pl-6 box-border;
  }
  .form-input::placeholder {
    @apply text-4xl self-center sm:text-3xl md:text-3xl;
  }
  .form-workout-type {
    @apply min-h-min grid grid-cols-2 grid-rows-1 gap-4;
  }
  .form-radio-input {
    @apply h-8 w-8 cursor-pointer;
  }
  .form-radio-field {
    @apply flex justify-center items-center;
  }
  .form-radio-container {
    @apply flex justify-end;
  }
  .form-radio-label {
    @apply text-left text-3xl ml-4;
  }

  .exercise-form-input {
    @apply rounded-tl-lg rounded-tr-lg text-4xl py-4 text-black w-full box-border pl-6;
  }

  /* ICONS */
  .back-icon {
    @apply h-12 w-12 fill-black cursor-pointer;
  }

  /* BUTTONS */

  .button {
    @apply text-4xl bg-emerald-900 p-8 text-white rounded-lg translate-y-0 cursor-pointer transition duration-300 sm:text-3xl md:text-3xl lg:text-3xl xsm:w-full;
  }
  .button:hover {
    @apply shadow-2xl -translate-y-1;
  }
  .exercise-buttons {
    @apply flex items-center justify-evenly p-5 sm:grid md:grid  sm:grid-rows-4 md:grid-rows-4 sm:gap-4 md:gap-4;
  }
  .toggle-list-button {
    @apply text-2xl ml-6;
  }
  .add-session-button {
    @apply py-4 text-2xl font-mono bg-teal-300 w-2/4 my-2 rounded-lg transition duration-300 text-emerald-900;
  }
  .add-session-button:hover {
    @apply bg-teal-200;
  }
  .si-button {
    @apply bg-emerald-900 text-white transition-all duration-300 p-6 text-3xl rounded-sm box-border sm:text-2xl md:text-2xl;
  }
  .si-button-selected {
    @apply bg-teal-200 text-emerald-900 transition-all duration-300 transform scale-105 text-4xl box-border sm:text-3xl md:text-3xl;
  }

  /* WORKOUTS */

  .workouts-view {
    @apply flex flex-col items-center;
  }
  .workout-container {
    @apply w-9/12 p-10;
  }
  .workout-card {
    @apply p-8 cursor-pointer transition duration-500;
  }
  .workout-card:hover {
    @apply bg-teal-200;
  }
  .workout-card:not(:last-of-type) {
    @apply mb-16;
  }

  /* EXERCISE */

  .exercises-view {
    @apply flex flex-col items-center;
  }
  .exercise-container {
    @apply w-9/12 p-10;
  }
  .exercise-card {
    @apply p-8;
  }
  .exercise-card:not(:last-of-type) {
    @apply mb-16;
  }

  /* AUTO TYPE SEARCH */

  .search-input {
    @apply flex flex-col items-center;
  }
  .search-list {
    @apply w-full;
  }
  .search-list-item {
    @apply py-5 bg-white;
  }
  .search-list-item:hover {
    @apply bg-gray-50 cursor-pointer;
  }
  .search-list-text {
    @apply text-2xl text-left pl-6 text-black;
  }

  /* SESSIONS */

  .session-list {
    @apply overflow-y-hidden flex flex-col-reverse overflow-x-hidden transition-all duration-700;
  }
  .session-card {
    @apply grid grid-cols-4;
  }
  .session-card-container {
    @apply flex justify-center py-4;
  }
  .worse {
    @apply bg-gradient-to-r from-red-500 to-red-600 text-white;
  }
  .same {
    @apply bg-gradient-to-r from-yellow-300 to-yellow-500;
  }
  .improve {
    @apply bg-gradient-to-r from-green-400 to-green-500;
  }
  .date {
    @apply bg-white;
  }
  .session-text-container {
    @apply w-10 justify-center flex text-center;
  }
  .session-time-text-container {
    @apply w-40 justify-center flex text-center;
  }

  /* SESSION HEADERS */

  .session-headers {
    @apply grid grid-cols-4 grid-flow-dense justify-evenly py-2 border-b-2 border-b-black;
  }
}

html {
  font-size: 62.5%;
  color: black;
  background-color: rgb(209, 250, 229);
  padding: 5rem;
}
@media screen and (max-width: 640px) {
  html {
    padding: 1rem;
  }
}
@media screen and (max-width: 400px) {
  html {
    padding: 1rem;
  }
}

.workout-form-grid {
  display: grid;
  grid-template-rows: repeat(4, min-content);
}
.exercise-grid {
  display: grid;
  grid-template-rows: repeat(4, min-content);
}
.session-form-grid {
  display: grid;
  grid-template-rows: repeat(4, min-content);
}
.session-form-field-grid {
  display: grid;
  grid-template-columns: 35% 50%;
}

.strong-shadow {
  box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.7);
}

.fade-in {
  animation-name: fade-in;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: inherit;
}

* {
  padding: 0rem;
  margin: 0rem;
  box-sizing: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
