@tailwind base;
@tailwind components;
@tailwind utilities;

/* darkblue:  rgb(16, 16, 94)
   blue: rgb(76, 76, 175)
*/

/* https://css-tricks.com/look-ma-no-media-queries-responsive-layouts-using-css-grid/ */

@layer components {
  .primary-heading {
    @apply text-8xl font-mono font-bold p-8 text-emerald-900;
  }
  .secondary-heading {
    @apply text-4xl font-mono;
  }
  .card-text {
    @apply text-4xl text-white;
  }
  .card-text-dark {
    @apply text-4xl text-emerald-900;
  }
  .text {
    @apply text-2xl font-mono text-left text-emerald-900;
  }

  .form {
    @apply bg-teal-500 p-16 grid grid-rows-4 gap-y-6 rounded-xl shadow-2xl;
  }
  .form-sessions {
    @apply bg-teal-500 p-16 grid grid-rows-4 gap-5;
  }
  .form-field {
    @apply grid grid-rows-2 gap-5;
  }
  .form-label {
    @apply text-white text-6xl self-center;
  }
  .form-input {
    @apply rounded-lg text-4xl pl-6 text-black;
  }
  .form-input::placeholder {
    @apply text-4xl self-center;
  }

  .button {
    @apply text-4xl bg-emerald-900 p-8 text-white rounded-lg translate-y-0 cursor-pointer transition duration-300;
  }

  .button:hover {
    @apply shadow-2xl -translate-y-1;
  }

  .workout-container {
    @apply p-10 bg-emerald-100;
  }
  .workout-card {
    @apply bg-teal-300 p-8 cursor-pointer transition duration-500;
  }
  .workout-card:hover {
    @apply bg-teal-200;
  }
  .workout-card:not(:last-of-type) {
    @apply mb-10;
  }

  .exercise-card {
    @apply bg-teal-500 p-8;
  }
  .exercise-card:not(:last-of-type) {
    @apply mb-8;
  }

  .session-container {
    @apply border border-black;
  }
  .session-list {
    @apply overflow-y-auto flex flex-col-reverse overflow-x-hidden transition h-full;
  }
  .session-card {
    @apply grid grid-cols-4;
  }
  .session-card-container {
    @apply flex justify-center py-4;
  }
  .worse {
    @apply bg-red-600;
  }
  .same {
    @apply bg-yellow-400;
  }
  .improve {
    @apply bg-green-500;
  }
  .date {
    @apply bg-white;
  }
  .session-text-container {
    @apply w-10 justify-self-center;
  }
  .session-headers {
    @apply grid grid-cols-4 grid-flow-dense justify-evenly py-1 border-b-4 border-blue-900;
  }

  .toggle-list-button {
    @apply text-4xl;
  }
  .add-session-button {
    @apply py-4 text-2xl font-mono bg-teal-300 w-2/4 my-2 rounded-lg transition duration-300 text-emerald-900;
  }
  .add-session-button:hover {
    @apply bg-teal-200;
  }
}

html {
  font-size: 62.5%;
  color: rgb(76, 76, 175);
}

.session-list-short {
  height: 12rem;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column-reverse;
}

.fade-in {
  animation-name: fade-in;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: inherit;
}

* {
  padding: 0rem;
  margin: 0rem;
  box-sizing: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
